:root {
    --i-global-color-primary: #f58a1f;
    /* --o-global-color-secondary: #1937a9; */
    --i-global-color-text: #3f3f3f;
    --i-global-color-f58a1f: #f58a1f;
    --i-global-color-AFAFB1: #AFAFB1;
    --i-global-color-71CE7B: #71CE7B;
  
    /* --bg-secondary-color: linear-gradient(270deg, #4e5e9a 45%, #486dae 100%);
      --bg-third-color: linear-gradient(270deg, #213580 45%, #194C9F 100%); */
    --i-global-typography-primary-font-family: "Roboto Slab";
    --i-global-typography-primary-font-weight: 600;
    --i-global-typography-secondary-font-family: "Roboto Slab";
    --i-global-typography-secondary-font-weight: 400;
    --i-global-typography-text-font-family: "Roboto";
    --i-global-typography-text-font-weight: 400;
    --i-global-typography-accent-font-family: "Roboto";
    --i-global-typography-accent-font-weight: 500;
  }
img {
    width: 100%;
}
a {
    cursor: pointer!important;
}
.color-f58a1f {
    color: var(--i-global-color-f58a1f);
}
.color-AFAFB1 {
    color: var(--i-global-color-AFAFB1);
}
.color-71CE7B {
    color: #71CE7B;
}
.site-logo {
    width: 160px;
}
.prepaid-banner img {
    /* background: url("./assets/images/happy100.png"); */
    /* height: 500px; */
    background-size: cover;
}
.postpaid-banner img {
    /* background: url("./assets/images/happy55.png"); */
    /* height: 500px; */
    background-size: cover;
}
.starter-banner img {
    /* background: url("./assets/images/happy42.png"); */
    /* height: 500px; */
    background-size: cover;
}
.prepaid-starter-banner img {
    /* background: url("./assets/images/happy52.png"); */
    /* height: 500px; */
    background-size: cover;
}
.home-banner-title {
    color: #fff;
}
.prepaid-plan-banner {
    background: url("./assets/images/happy.png");
    height: 392px;
    background-size: cover;
    background-position: center;
}
.primary-heading {
    text-align: center;
    color: #3E3E3E;
    font-weight: 600;
}
.plan-text {
    text-align: center;
    color: #CB0171;
    font-weight: 600;
}
.plan-benefits {
    background: #f3f3f3;
    border-radius: 15px;
    padding: 34px 40px;
    position: relative;
}
.secondary-heading {
    font-weight: 600;
}
.coupon {
    position: absolute;
    width: 138px;
    right: 0;
    bottom: 0;
}
.check-green {
    color: #80c283;
    font-size: 18px;
}
.primary-btn {
    background: #CB0171;
    color: #fff;
    border: none;
    padding: 8px 92px;
    border-radius: 38px;
}
.link-btn {
    color: #ED1C24;
    background: none;
    border: none;
}
.get-plan-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 0 #000;
    padding: 10px;
    border-radius: 17px;
}
.congratulations-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background: #fff;
    box-shadow: 0 0 0 #000;
    padding: 10px;
    border-radius: 17px;
}
.get-paln-inner {
    border: 1px solid #707070;
    border-radius: 17px;
    padding: 5px 9px;
}
.upload-file {
    width: 100%;
    text-align: center;
    border: 1px dotted #74717126;
    border-radius: 17px;
    color: #76777A;
    padding: 10px 0;
}
.upload-text {
    color: var(--i-global-color-AFAFB1);
}
.modal-btn {
    background: #cb0170;
    color: #fff;
    border-radius: 30px;
    padding: 12px 64px;
    border: none;
}   
.cursor-pointer {
    cursor: pointer;
}
.card-cs {
    background: #fff;
    box-shadow: 0 0 4px #c8c8c8;
    border-radius: 17px;
}
.check-bg {
    background: #F2F6F8;
    padding: 8px 19px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.cards-icon {
    width: 90px;
    height: auto;
    object-fit: contain;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-right: 8px;
    margin-top: 20px;
}
.phone-show img {
    width: 42px;
}
.phone-icon {
    line-height: 1;
}
.phone-icon small {
    font-size: 12px;
}
.phone-icon h5 {
    font-size: 16px;
    font-weight: 600;
}
.card-num {
    width: 47px;
}
.btn-confirm {
    background: #CB0171;
    color: #fff;
    width: 74%;
    border-radius: 42px;
    border: none;
    padding: 12px 12px;
}
.tick-icon {
    width: 100px;
    margin-bottom: 16px;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #71CE7B !important;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #71CE7B !important;
}
.shipping-address {
    font-size: 14px;
    color: #6B6565;
}
.total-rp {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 2px #00000024;
    padding: 14px 16px;
    margin-top: 20px;
    font-weight: 500;
}
.plan-card {
    border: 2px solid #dedede;
    padding: 20px 16px;
    border-radius: 7px;
    width: 310px;
    min-width: 310px;
}
.binding-price {
    color: #ed2324;
    font-size: 20px;
    font-weight: 600;
}
picture img {
    width: 16px;
    margin-right: 6px;

}
.happy-img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 280px;
}
.hb-cursor {
    cursor: pointer;
}
.hb-cursor:hover {
    border: 2px solid #0799e2;
}
.add-ekyc:hover {
    border-bottom: 1px solid #cd0875;
}
.add-ekyc {
    margin: 0px;
}
@media (max-width: 700px) {
    .happy-img {
        display: none;
    }
}