:root {
  --i-global-color-primary: #f58a1f;
  /* --o-global-color-secondary: #1937a9; */
  --i-global-color-text: #3f3f3f;
  --i-global-color-ED1C24: #ed1c24;
  --i-global-color-FA5A53: #fa5a53;
  --i-global-color-f58a1f: #f58a1f;
  --i-global-color-AFAFB1: #afafb1;
  --i-global-color-71CE7B: #71ce7b;
  --i-global-color-0387D1: #0387d1;

  --i-global-bg-ED1C24: #ed1c24;
  --i-global-bg-FFFFFF: #ffffff;
  --i-global-bg-FCD401: #fcd401;
  --i-global-color-FFFFFF: #ffffff;
  --i-global-color-000000: #000000;

  /* --bg-secondary-color: linear-gradient(270deg, #4e5e9a 45%, #486dae 100%);
      --bg-third-color: linear-gradient(270deg, #213580 45%, #194C9F 100%); */
  --i-global-typography-primary-font-family: "Roboto Slab";
  --i-global-typography-primary-font-weight: 600;
  --i-global-typography-secondary-font-family: "Roboto Slab";
  --i-global-typography-secondary-font-weight: 400;
  --i-global-typography-text-font-family: "Roboto";
  --i-global-typography-text-font-weight: 400;
  --i-global-typography-accent-font-family: "Roboto";
  --i-global-typography-accent-font-weight: 500;
}
body {
  font-family: "Poppins", sans-serif !important;
}
img {
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
a {
  cursor: pointer !important;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: costa, sans-serif;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.bg-FCD401 {
  background: var(--i-global-bg-FCD401);
}
.bg-ED1C24 {
  background: var(--i-global-bg-ED1C24);
}
.bg-white {
  background: var(--i-global-bg-FFFFFF);
}

.color-ED1C24 {
  color: var(--i-global-color-ED1C24);
}
.color-f58a1f {
  color: var(--i-global-color-f58a1f);
}
.color-FA5A53 {
  color: var(--i-global-color-FA5A53);
}
.color-0387D1 {
  color: var(--i-global-color-0387D1);
}
.color-AFAFB1 {
  color: var(--i-global-color-AFAFB1);
}
.color-71CE7B {
  color: #71ce7b;
}
.site-logo {
  width: 160px;
}
.prepaid-banner {
  background: url("./assets/images/close-up-of-girl.png");
  height: 392px;
  background-size: cover;
}
.postpaid-banner {
  background: url("./assets/images/postpaid.png");
  height: 392px;
  background-size: cover;
}
.starter-banner {
  background: url("./assets/images/starter.png");
  height: 392px;
  background-size: cover;
}
.prepaid-starter-banner {
  background: url("./assets/images/prepaid-starter.png");
  height: 392px;
  background-size: cover;
}
.home-banner-title {
  color: var(--i-global-color-000000);
  font-weight: 600;
}
.prepaid-plan-banner-img {
  width: 275px;
}
.activation-b-img {
  width: 250px;
}
.primary-heading {
  text-align: center;
  color: #3e3e3e;
  font-weight: 600;
}
.plan-text {
  text-align: center;
  color: var(--i-global-color-ED1C24);
  font-weight: 600;
}
.plan-benefits {
  background: #f3f3f3;
  border-radius: 15px;
  padding: 34px 40px;
  position: relative;
}
.secondary-heading {
  font-weight: 700;
  font-size: 24px;
  color: #3e3e3e;
}
.coupon {
  position: absolute;
  width: 138px;
  left: -8px;
  bottom: -25px;
  clip: rect(6px, 132px, 105px, 9px);
}
.cart {
  position: absolute;
  width: 138px;
  left: 0px;
  bottom: 0px;
}
.check-green {
  color: #80c283;
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
  margin-top: 2px;
}

.check-green-2 {
  color: #80c283;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-top: 2px;
}

.check-red-2 {
  color: red;
  width: 23px;
  min-width: 23px;
  height: 23px;
  min-height: 23px;
  margin-top: 2px;
}

.primary-btn {
  background: var(--i-global-bg-ED1C24);
  color: var(--i-global-color-FFFFFF);
  border: none;
  padding: 8px 92px;
  border-radius: 38px;
}
.primary-btn-outlined {
  background: white;
  border: 2px solid red;
  /* border: none; */
  padding: 8px 92px;
  border-radius: 38px;
  cursor: pointer;
}
.secondary-btn-outlined {
  background: rgb(236, 234, 234);
  border: 2px solid red;
  /* border: none; */
  padding: 8px 92px;
  border-radius: 38px;
  cursor: default;
}
.link-btn {
  color: var(--i-global-color-ED1C24);
  background: none;
  border: none;
}
.get-plan-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background: var(--i-global-bg-FFFFFF);
  box-shadow: 0 0 0 #000;
  padding: 10px;
  border-radius: 17px;
}
.congratulations-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background: var(--i-global-bg-FFFFFF);
  box-shadow: 0 0 0 #000;
  padding: 10px;
  border-radius: 17px;
}
.get-paln-inner {
  border: 1px solid #707070;
  border-radius: 17px;
  padding: 5px 9px;
}
.upload-file {
  width: 100%;
  text-align: center;
  border: 1px dotted #74717126;
  border-radius: 17px;
  color: #76777a;
  padding: 10px 0;
}
.upload-text {
  color: var(--i-global-color-AFAFB1);
}
.modal-btn {
  background: #ed1c23;
  color: var(--i-global-color-FFFFFF);
  border-radius: 30px;
  padding: 12px 64px;
  border: none;
}
.cursor-pointer {
  cursor: pointer;
}
.card-cs {
  background: var(--i-global-bg-FFFFFF);
  box-shadow: 0 0 4px #c8c8c8;
  border-radius: 17px;
}
.check-bg {
  background: #f2f6f8;
  padding: 8px 19px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.cards-icon {
  width: 90px;
  height: auto;
  object-fit: contain;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-right: 8px;
  margin-top: 20px;
}
.phone-show img {
  width: 42px;
}
.phone-icon {
  line-height: 1;
}
.phone-icon small {
  font-size: 12px;
}
.phone-icon h5 {
  font-size: 16px;
  font-weight: 600;
}
.card-num {
  width: 47px;
}
.btn-confirm {
  background: var(--i-global-bg-ED1C24);
  color: var(--i-global-color-FFFFFF);
  width: 74%;
  border-radius: 42px;
  border: none;
  padding: 12px 12px;
}
.tick-icon {
  width: 100px;
  margin-bottom: 16px;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #71ce7b !important;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #71ce7b !important;
}
.shipping-address {
  font-size: 14px;
  color: #6b6565;
}
.total-rp {
  display: flex;
  justify-content: space-between;
  background: var(--i-global-bg-FFFFFF);
  box-shadow: 0px 1px 2px #00000024;
  padding: 14px 16px;
  margin-top: 20px;
  font-weight: 500;
}
.small-text {
  font-size: 12px;
  line-height: 1.2;
  color: #b0aeae;
  margin-top: 7px;
}
.plan-card {
  /* border: 2px solid #dedede;
    padding: 20px 16px;
    border-radius: 7px; */
  /* width: 310px;
  min-width: 310px; */
  margin: 0 10px;
}
.binding-price {
  color: #ed2324;
  font-size: 16px;
  font-weight: 600;
}
picture img {
  width: 12px;
  margin-right: 6px;
}
.hb-cursor {
  cursor: pointer;
}
.hb-cursor:hover {
  border: 2px solid #0799e2;
}
.add-ekyc {
  margin: 00;
  cursor: pointer;
  padding: 5px 0px;
}
.add-ekyc:hover {
  border-bottom: 1px solid #c20303;
}
.baneer-title {
  position: absolute;
  transform: translate(-9%, -24%);
  top: 66%;
  left: 14%;
  z-index: 999;
  color: var(--i-global-color-FFFFFF);
  font-size: 48px;
  text-align: center;
}
.baneer-title-r {
  position: absolute;
  transform: translate(-9%, -24%);
  top: 66%;
  right: 14%;
  z-index: 999;
  color: var(--i-global-color-FFFFFF);
  font-size: 48px;
  text-align: center;
}
.baneer-title h5 {
  font-size: 25px;
  font-weight: 200;
}
.baneer-title-ng {
  position: absolute;
  transform: translate(-9%, -24%);
  top: 50%;
  left: 20%;
  z-index: 999;
  color: var();
  font-size: 48px;
  text-align: center;
}
.baneer-title-ng h5 {
  font-size: 25px;
  font-weight: 200;
}
.choose-bonus-img {
  width: 36px;
}
.white-card {
  background: var(--i-global-bg-FFFFFF);
  padding: 12px 8px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #00000029;
}
.choose-bonus-text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 4px 0;
}
.upload-card {
  box-shadow: 0 0 3px #e7e7e7;
  border-radius: 8px;
}
.uploaded-review {
  line-height: 1;
}
.uploaded-review h6 {
  font-size: 12px;
}
.uploaded-review p {
  font-size: 10px;
  color: #76777a;
}
.uploaded-review small {
  font-size: 10px;
  color: #bababc;
}
.recm-card {
  box-shadow: 0 0 6px #cacaca;
  border-radius: 10px;
}
.cs-radio .css-ahj2mt-MuiTypography-root {
  width: 100%;
}
.product_card-body {
  border: 1px solid #dedede;
  box-shadow: 0 0 6px #d3d3d3;
  padding: 12px 10px;
  border-radius: 8px;
}
.upper-title {
  font-weight: 600;
  word-wrap: break-word;
}
.plan-list {
  font-size: 14px;
}
.binding {
  font-weight: 600;
}
.step-form-img {
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.coupon-apply-input {
  background: #fff;
  border: none;
  padding: 14px 112px 9px 20px;
  width: 100%;
}
.coupon-apply-btn {
  position: absolute;
  background: var(--i-global-bg-ED1C24);
  border: none;
  padding: 3px 16px;
  color: #fff;
  border-radius: 38px;
  right: 12px;
  top: 6px;
}
@media (max-width: 500px) {
  .baneer-title.text-start h5 {
    font-size: 16px;
  }
  .baneer-title.text-start h4 {
    font-size: 17px;
  }
  .baneer-title h2 {
    font-size: 12px;
  }
  .baneer-title-r h2 {
    font-size: 12px;
  }
  .plan-benefits {
    padding: 20px 12px;
  }
  .coupon {
    position: absolute;
    width: 90px;
    left: 0;
    bottom: 0;
    clip: auto;
  }
  .home-banner img {
    height: 140px;
    object-fit: cover;
  }
  .choose-bonus-text {
    font-size: 11px;
    line-height: 12px;
  }
  .get-plan-modal {
    width: 98%;
  }
  .congratulations-modal {
    width: 97%;
  }
  .secondary-heading {
    font-size: 18px;
  }
  .primary-btn {
    padding: 8px 24px;
  }
  .step-form-img {
    display: none;
  }
}
