:root {
    --i-global-color-primary: #f58a1f;
    /* --o-global-color-secondary: #1937a9; */
    --i-global-color-text: #3f3f3f;
    --i-global-color-f58a1f: #f58a1f;
    --i-global-color-AFAFB1: #AFAFB1;
    --i-global-color-71CE7B: #71CE7B;
  
    /* --bg-secondary-color: linear-gradient(270deg, #4e5e9a 45%, #486dae 100%);
      --bg-third-color: linear-gradient(270deg, #213580 45%, #194C9F 100%); */
    --i-global-typography-primary-font-family: "Roboto Slab";
    --i-global-typography-primary-font-weight: 600;
    --i-global-typography-secondary-font-family: "Roboto Slab";
    --i-global-typography-secondary-font-weight: 400;
    --i-global-typography-text-font-family: "Roboto";
    --i-global-typography-text-font-weight: 400;
    --i-global-typography-accent-font-family: "Roboto";
    --i-global-typography-accent-font-weight: 500;
  }
img {
    width: 100%;
}
.color-f58a1f {
    color: var(--i-global-color-f58a1f);
}
.color-AFAFB1 {
    color: var(--i-global-color-AFAFB1);
}
.color-71CE7B {
    color: #71CE7B;
}
.site-logo {
    width: 160px;
}
.home-banner img {
    /* background: url("./assets/images/happy100.png"); */
    /* height: 500px; */
    background-size: cover;
}
.home-banner:before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, black, transparent);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.home-banner-title {
    color: #fff;
}
.prepaid-plan-banner {
    /* background: url("./assets/images/happy.png"); */
    height: 392px;
    background-size: cover;
}
.primary-heading {
    text-align: center;
    color: #3E3E3E;
    font-weight: 600;
}
.plan-text {
    text-align: center;
    color: #CB0171;
    font-weight: 600;
}
.plan-benefits {
    background: #ffffff;
    box-shadow: 0 0 5px #cfcfcf;
    border-radius: 15px;
    padding: 34px 40px;
    position: relative;
}
.secondary-heading {
    font-weight: 600;
}
.coupon {
    position: absolute;
    width: 138px;
    right: 0;
    bottom: 0;
}
.check-green {
    color: #80c283;
    font-size: 18px;
}
.primary-btn {
    background: #FFCB05;
    color: #000;
    border: none;
    padding: 8px 92px;
    border-radius: 38px;
}
.link-btn {
    color: #ED1C24;
    background: none;
    border: none;
}
.get-plan-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 0 #000;
    padding: 10px;
    border-radius: 17px;
}
.congratulations-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background: #fff;
    box-shadow: 0 0 0 #000;
    padding: 10px;
    border-radius: 17px;
}
.get-paln-inner {
    border: 1px solid #707070;
    border-radius: 17px;
    padding: 5px 9px;
}
.upload-file {
    width: 100%;
    text-align: center;
    border: 1px dotted #74717126;
    border-radius: 17px;
    color: #76777A;
    padding: 10px 0;
}
.upload-text {
    color: var(--i-global-color-AFAFB1);
}
.modal-btn {
    background: #ffcd05;
    color: #000;
    border-radius: 30px;
    padding: 12px 64px;
    border: none;
}   
.cursor-pointer {
    cursor: pointer;
}
.card-cs {
    background: #fff;
    box-shadow: 0 0 4px #c8c8c8;
    border-radius: 17px;
}
.check-bg {
    background: #F2F6F8;
    padding: 8px 19px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.cards-icon {
    width: 90px;
    height: auto;
    object-fit: contain;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-right: 8px;
    margin-top: 20px;
}
.phone-show img {
    width: 42px;
}
.phone-icon {
    line-height: 1;
}
.phone-icon small {
    font-size: 12px;
}
.phone-icon h5 {
    font-size: 16px;
    font-weight: 600;
}
.card-num {
    width: 47px;
}
.btn-confirm {
    background: #ffcd05;
    color: #000;
    width: 74%;
    border-radius: 42px;
    border: none;
    padding: 12px 12px;
}
.tick-icon {
    width: 100px;
    margin-bottom: 16px;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #71CE7B !important;
}
.step-form-cs .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #71CE7B !important;
}
.shipping-address {
    font-size: 14px;
    color: #6B6565;
}
.total-rp {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 2px #00000024;
    padding: 14px 16px;
    margin-top: 20px;
    font-weight: 500;
}
.plan-card {
    border: 2px solid #dedede;
    padding: 20px 16px;
    border-radius: 7px;
    width: 310px;
    min-width: 310px;
}
.binding-price {
    color: #ed2324;
    font-size: 20px;
    font-weight: 600;
}
picture img {
    width: 16px;
    margin-right: 6px;

}
.happy-img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 280px;
}
.baneer-title {
    position: absolute;
    transform: translate(-9%, -24%);
    top: 50%;
    left: 20%;
    z-index: 999;
    color: #fff;
    font-size: 48px;
    text-align: center;
}
.baneer-title h5 {
    font-size: 25px;
    font-weight: 200;
}
.baneer-title-ng {
    position: absolute;
    transform: translate(-9%, -24%);
    top: 50%;
    left: 20%;
    z-index: 999;
    color: #fff;
    font-size: 48px;
    text-align: center;
}
.baneer-title-ng h5 {
    font-size: 25px;
    font-weight: 200;
}
.card-icon {
    width: 115px;
}
.undo-icon {
    font-size: 42px;
    color: #a5a5a5;
}
.country-flag {
    width: 26px;
}
.home-banner-ng {
    background: #FFCB05;
    padding: 60px 130px;
    border-radius: 0 0 40% 40%;
}
.home-banner-ng img {
    border-radius: 24px;
    margin-bottom: 33px;
    height: 365px;
}
.hb-cursor {
    cursor: pointer;
}
.hb-cursor:hover {
    border: 2px solid #0799e2;
}
@media (max-width: 500px) {
    .baneer-title.text-start h5 {
        font-size: 16px;
    }
    .baneer-title.text-start h4 {
        font-size: 17px;
    }
    .home-banner-ng {
        background: #FFCB05;
        padding: 40px 30px;
        border-radius: 0 0 40% 40%;
    }
}